<div class="bg-gray-700 text-white min-h-screen flex-col">
    <h2 class="text-center text-2xl font-bold py-4">You are currently browsing box offices!</h2>
    <div class="text-center flex justify-center font-bold rounded focus:outline-none focus:shadow-outline mb-4">
        <button (click)="goToAddBoxOfficePage()" class="py-2 px-4 text-md hover:bg-gray-900 rounded">Add Box Office</button>
    </div>
     
    <div *ngIf="status === 'success'">
        <div class="flex justify-center">
            <p class="py-2 px-2 font-bold text-md">Switch to page: </p>
            <div *ngFor="let item of pageArray; let i = index">
                <button *ngIf="item !== '...' && item !== currentPage + 1" (click)="switchPage(item)" class="py-2 px-4 text-md hover:bg-gray-900 rounded">{{item}}</button>
                <p *ngIf="item !== '...' && item === currentPage + 1" class="py-2 px-4 font-bold text-md">{{item}}</p>
                <p *ngIf="item === '...'" class="py-2 px-4 text-md">{{item}}</p>
            </div>
            <p class="py-2 px-2 font-bold text-md">({{resultTotal | number: '1.0-0': 'en-US' }} results)</p>
        </div> 
  
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-white">
                <thead class="text-xs text-white text-center uppercase bg-gray-800">
                    <tr>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Index</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Budget (In Millions)</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Lifetime Gross (In Millions)</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Distributor</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Movie Referenced</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Description</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Highest Score Of The Movie</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Operations</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let office of boxOffices; let i = index" 
                    [ngClass]="{'bg-gray-700 hover:bg-gray-500': i % 2 === 0, 'bg-gray-800 hover:bg-gray-600': i % 2 !== 0}">
                        <td class="border-2 border-gray-900 px-4 py-2"><a (click)="goToBoxOfficeDetails(office.id)">{{i+1}}</a></td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{office.budget_in_millions | number: '1.0-0': 'en-US' }}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{office.lifetime_gross_in_millions | number: '1.0-0': 'en-US' }}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{office.distributor}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2"><a (click)="goToMovieDetails(office.movie_referenced.id)">{{office.movie_referenced.title}}</a></td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{office.description}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{office.highest_score}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">
                            <div class="container mx-auto flex justify-center items-center space-x-2">
                                <a (click)="goToBoxOfficeDetails(office.id)"><img src="/assets/img/Details.png" alt="editButton" class="w-6 h-6"></a>
                                <a (click)="askForConfirmation(i, office.id)"><img src="/assets/img/Delete.png" alt="deleteButton" class="w-6 h-6"></a>
                            </div>                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
 
        <div class="flex justify-center">
            <p class="py-2 px-2 font-bold text-md">Switch to page: </p>
            <div *ngFor="let item of pageArray; let i = index">
                <button *ngIf="item !== '...' && item !== currentPage + 1" (click)="switchPage(item)" class="py-2 px-4 text-md hover:bg-gray-900 rounded">{{item}}</button>
                <p *ngIf="item !== '...' && item === currentPage + 1" class="py-2 px-4 font-bold text-md">{{item}}</p>
                <p *ngIf="item === '...'" class="py-2 px-4 text-md">{{item}}</p>
            </div>
            <p class="py-2 px-2 font-bold text-md">({{resultTotal | number: '1.0-0': 'en-US' }} results)</p>
        </div>
    </div>
    <div *ngIf="status === 'fail'" class="flex justify-center items-center text-2xl font-bold text-red-500">
        There was an error while trying to fetch the box offices!
    </div>
</div>