<h2>Add movie</h2>
<form (submit)="addMovie()">
    <label for="title">Title</label>
    <input id="title" name="title" [(ngModel)]="title">
    <label for="release_date">Release Date</label>
    <input id="release_date" name="release_date" [(ngModel)]="release_date">
    <label for="duration_in_minutes">Duration In Minutes</label>
    <input id="duration_in_minutes" name="duration_in_minutes" [(ngModel)]="duration_in_minutes">
    <label for="description">Description</label>
    <input id="description" name="description" [(ngModel)]="description">
    <label for="pgRating">PG Rating</label>
    <input id="pgRating" name="pgRating" [(ngModel)]="pgRating">
    <button type="submit">Submit</button>
</form>
