<h2>Movies sorted by rating descending</h2>

<table style="width:100%">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Release Date</td>
            <td>Duration in Minutes</td>
            <td>Description</td>
            <td>PG Rating</td>
            <td>Overall Rating</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of moviesByRating; let i = index">
            <td>{{i+1}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.release_date}}</td>
            <td>{{movie.duration_in_minutes}}</td>
            <td>{{movie.description}}</td>
            <td>{{movie.pgRating}}</td>
            <td>{{movie.overall_rating}}</td>
        </tr>
    </tbody>
</table>