table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
  width: 1000px;
}