<h2>Add review</h2>
<form (submit)="addReview()">
    <p>
        <label for="author" class="label">Author: </label>
        <input id="author" name="author" [(ngModel)]="author">
    </p>
    <p>
        <label for="score" class="label">Score: </label>
        <input id="score" name="score" [(ngModel)]="score">
    </p>
    <p>
        <label for="description" class="label">Description: </label>
        <input id="description" name="description" [(ngModel)]="description">
    </p>
    <p>
        <label for="recommended" class="label">Recommended (Y/N): </label>
        <input id="recommended" name="recommended" [(ngModel)]="recommended">
    </p>
    <p>
        <label for="movie_reviewed" class="label">Movie being reviewed: </label>
        <input id="movie_reviewed" name="movie_reviewed" [(ngModel)]="movie_reviewed">
    </p>
    <button type="submit">Add Review</button>
</form>