<ng-container *ngIf="review">
    <div class="min-h-screen flex-col bg-gray-700 text-white">
        <button (click)="goBack()" class="absolute text-white font-bold py-2 px-4 text-md rounded focus:outline-none focus:shadow-outline hover:bg-gray-900 mt-3 mx-2">Go Back</button>
        <h2 class="text-center text-2xl font-bold py-4">Details for review with author "{{review.author}}"</h2>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left">
                <thead class="text-xs text-center uppercase bg-gray-800">
                    <tr>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Added By</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Author</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Date Added</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Description</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Movie reviewed</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Review Type</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Score</th>
                        <th scope="col" class="border-2 border-gray-900 px-4 py-2">Total reviews of the movie</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr class="border-b dark:border-gray-700 bg-gray-800 dark:bg-gray-700">
                        <td class="border-2 border-gray-900 px-4 py-2 text-cyan-400"><a (click)="goToUserDetails(review.user.id)">{{review.user.username}}</a></td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{review.author}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{review.date_added}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{review.description}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2 text-cyan-400"><a (click)="goToMovieDetails(review.movie_reviewed.id)">{{review.movie_reviewed.title}}</a></td>
                        <td class="border-2 border-gray-900 px-4 py-2">
                            <span *ngIf="review.recommended === 'Y'" class="text-green-500">Positive Review</span>
                            <span *ngIf="review.recommended === 'N'" class="text-red-500">Negative Review</span></td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{review.score}}</td>
                        <td class="border-2 border-gray-900 px-4 py-2">{{review.total_reviews}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 [hidden]="(isLoggedIn() | async) === true"  class="text-center text-2xl font-bold py-4 text-red-500">You need to be logged in to be able to edit a review!</h2>
        <h2 [hidden]="(hasPermission(review) | async) === true || (isLoggedIn() | async) === false" class="text-center text-2xl font-bold py-4 text-red-500">You cannot edit someone else's review as a regular user!</h2>
        <div [hidden]="(hasPermission(review) | async) === false" class="container mx-auto max-w-md">
            <form (submit)="updateReview()" class="flex justify-center flex-col mt-4">
                <h2 class="text-center text-2xl font-bold mb-6">You can edit the review underneath!</h2>
                <div class="flex flex-col">
                    <div class="mb-4">
                        <label for="author" class="font-bold mb-2">Author: </label>
                        <input id="author" name="author" [(ngModel)]="author" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="score" class="font-bold mb-2">Score: </label>
                        <input id="score" name="score" [(ngModel)]="score" type="string" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="description" class="font-bold mb-2">Description: </label>
                        <textarea id="description" name="description" [(ngModel)]="description" type="text" rows="4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="recommended" class="font-bold mb-2">Review Type: </label>
                        <select id="recommended" name="recommended" [(ngModel)]="recommended" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Y">Positive Review</option>
                            <option value="N">Negative Review</option>
                        </select>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <button type="submit" class="bg-white hover:bg-blue-200 text-gray-800 font-bold py-2 px-4 rounded mb-4 focus:outline-none focus:shadow-outline">Update Review</button>
                    </div>
                </div>
            </form>
            <div class="flex justify-center">
                <button (click)="askForConfirmation()" class="bg-red-500 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Delete Review</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!review">
    <div class="bg-gray-700 text-white min-h-screen flex-col">
        <h2 class="text-center text-2xl font-bold py-4">Review does not exist!</h2>
    </div>
</ng-container>